
@{
    ViewData["Title"] = "Configuracao";
}

<div class="row row-cols-1 row-cols-md-4">
    <div class="col-sm-3">
        <a class="nav-link text-dark " asp-area="" asp-controller="Cadastro" asp-action="Index">
            <div class="card card-configuracao">
                <div class="card-body">
                    <h5 class="card-title">Cadastro De Usuario</h5>
                </div>
                <i class=" fas fa-user text-center icons-configuracao mb-3"></i>
            </div>
        </a>
    </div>
    @*<div class="col-sm-3">
        <a class="nav-link text-dark " asp-area="" asp-controller="Roupa" asp-action="Index">
            <div class="card card-configuracao">
                <div class="card-body">
                    <h5 class="card-title">Cadastro De Roupas</h5>
                </div>
                <i class="fas fa-tshirt text-center icons-configuracao mb-3"></i>
            </div>
        </a>
    </div>*@
</div>


